
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Saira+Stencil+One&display=swap');

body{
    background-color: rgb(18, 0, 49);
}

topbox{
  position:absolute;
  right:250px;
}


H1{
   position:relative;
 
   color:white;
color:rgb(255, 255, 255);
font-family: Oxanium;
font-weight:600;
font-size:60px;
 z-index: 3;
}

p{
    position: relative;
    font-family:'Saira Stencil One';
    font-weight:100;
    color:white;
    z-index: 3;
    left: 20px;
    TOP:-30PX;
}

.image1{
    position:absolute;
    left: 40px;
    top:50px;
width:400px;
height:400px;
display: block;
border-radius: 400px;
border: 20px solid rgba(0, 0, 0, 0.4);
}
.bg1{
    position:absolute;
    top:-500px;
width:1470px;
left:1%;
border-radius: 20px;
z-index:0;
border: 20px solid rgb(0, 0, 0, 0.4);
}
button{
    color:rgb(255, 255, 255);
    font-family: 'OXANIUM';
    font-size: 30px;;
    background-color: rgb(37, 1, 122);
    position:absolute;
    display:block;
    width:500px;
    height:100px;
    border:none;
    top:410px;
    left:700px;
    border-radius: 20px;
}
button:hover{
    color:rgb(255, 255, 255);
background-color: rgb(29, 0, 134);
transition: 0.3s;
}

.textbox{
    position:absolute;
    width: 400px;
    height:50px;
    border-radius: 20px;
    font-size: 30px;
    border:none;
    color:rgb(0, 0, 0,);
    background-color: rgb(0, 0, 0,0.4);
}

